@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

#app {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
    flex-direction: row !important;
    gap: 10px;
}

.container-cuadrito {
    display: flex;
    width: 31vw;
    height: 10vh;
    margin: 10px 0 10px;
}

.parteIzq {}

.parteDer {
    /* justify-content: center; */
    /* align-items: center; */
    text-align: left;
    padding: 10px 0px 10px;

}

.img-cuadrito {
    width: 100px;
    height: 100px;
}

.muy-grande {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(50, 73, 177);
}